[submodule "miniio"]
	path = miniio
	url = https://github.com/okuoku/miniio
[submodule "minitelnet"]
	path = minitelnet
	url = https://github.com/okuoku/minitelnet
[submodule "xterm-pty"]
	path = xterm-pty
	url = https://github.com/mame/xterm-pty
